body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table {
    margin: 20px;
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

td {
    flex: 3;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    border: 0.1px solid #333;
    margin: 0 auto; /* Center images within their container */
}

a {
    display: block;
    margin-top: 10px; /* Add margin between the image and the link */
}

@media (max-width: 500px)  {
    tr {
        flex-direction: column;
        align-items: center;
    }
}